body {
  background-color: white;
  text-align: center;
}

.title {
  color: lightgrey;
  margin: 20px 0;
}

#author-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-card {
  border-radius: 15px;
  width: 250px;
  height: 400px;
  background-image: linear-gradient(#63b3f9, #d5e4f1);
  margin: 20px;
  font-family: "Lucida Console", "Courier New", monospace;
}

.user-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.category-icon {
  width: 25px;
  height: 25px;
  object-fit: cover;
  float: left;
  margin: 5px 10px;
}

.purple-divider {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(140, 10, 232);
  width: 100%;
  height: 35px;
}

.author-name {
  margin: 10px;
}

.bio {
  margin: 20px;
}

/* .btn {
  cursor: pointer;
  width: 200px;
  height: 50px;
  margin: 10px;
  color: var(--main-bg-color);
  font-size: 14px;
  background-color: var(--golden-yellow);
  background-image: linear-gradient(#fecc4c, #ffac33);
  border-color: var(--golden-yellow);
  border-width: 3px;
} */